<h3>{{viewTitle}}</h3>

<form autocomplete="off" action="/employee" method="post">
    <div class="form-group">
        <lable>full Name</lable>
        <input type="text" class="form-control"name="fullName"placeholder="full Name"value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <lable>Email</lable>
        <input type="text" class="form-control"name="email"placeholder="kp@gmail.com"value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <lable>Mobile</lable>
                <input type="text" class="form-control"name="mobile"placeholder="0771234567" value="{{employee.mobile}}">
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <lable>City</lable>
                <input type="text" class="form-control"name="city"placeholder="Galle" value="{{employee.city}}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit"class="btn-btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
</form>
